_ReSharper.WhoScored/
WhoScored/bin/
WhoScored.5.1.ReSharper.user
WhoScored/obj/
WhoScored.suo
WhoScored/obj/
TestResults
WhoScored.sln.DotSettings.user
WhoScored.Test/bin/
WhoScored.Test/obj/
WhoScored.Db/bin/
WhoScored.Db/obj/
WhoScored.Migration/bin/
WhoScored.Migration/obj/
WhoScored.Serializer/bin/
WhoScored.Serializer/obj/
WhoScored.Serializer.UnitTest/obj/
WhoScored.Serializer.UnitTest/bin/
WhoScored.CHPP.Files.UnitTest/bin/
WhoScored.CHPP.Files.UnitTest/obj/
WhoScored.CHPP.Files/bin/
WhoScored.CHPP.Files/obj/
WhoScored.CHPP.Serializer.UnitTest/bin/
WhoScored.CHPP.Serializer.UnitTest/obj/
WhoScored.CHPP.Serializer/bin/
WhoScored.CHPP.Serializer/obj/
WhoScored.IntegrationTest/bin/
WhoScored.IntegrationTest/obj/
WhoScored.Model/bin
WhoScored.Model/obj/
