.btn-group-centered {
    text-align: center;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

.nav-btn {
  display: block;
  width: 30px;
  margin-top: -1px;
}