@model WhoScored.Models.MigrationModel
@{
    ViewBag.Title = "Migration";
}
<script type="text/javascript">
    $(document).ready(function() {
        //Attach cascading behavior to the orderID select element.
        $("#seriesSelect").CascadingDropDown("#countryId", '/Migration/AsyncSeriesSelect');
        $("#seasonSelect").CascadingDropDown("#countryId", '/Migration/AsyncSeasonSelect');

        $('#save').click(function() {
            var series = $('#seriesSelect').val();

            $.ajax({
                url: "@Url.Action("MigrateSeriesDetails", "Migration")",
                type: "POST",
                data:
                    {
                        seriesId: series
                    },
                dataType: 'json',
                traditional: true
            });

        });
    });
</script>
<form class="well form-inline">
<fieldset>
    <div class="control-group">
        <label class="control-label" for="countryId">
            Country</label>
        <div class="controls">
            <select id="countryId" name="countryId" multiple="multiple" size="10">
                @foreach (var country in Model.WorldDetails.Where(c => c.LeagueInWhoScored).OrderBy(c => c.EnglishName))
                {
                    <option value="@country.LeagueID" >@country.EnglishName</option>
                }
            </select>
        </div>
        <label class="control-label" for="seasonSelect">Season</label>
        <div class="controls">
            <select id="seasonSelect" name="seasonSelect"></select>
        </div>
        <label class="control-label" for="seriesSelect">Searies</label>
        <div class="controls">
            <select id="seriesSelect" name="seriesSelect" multiple="multiple" size="10"></select>
        </div>
    </div>
    <div class="form-actions">
        <a class="btn btn-danger" href="@Url.Action("MigrateWorldDetails", "Migration")">Migrate World</a>
        <button class="btn btn-danger" type="button" id="save">Migrate Series</button>
    </div>
</fieldset>
</form>
