@{
    ViewBag.Title = "Migration";
}
<form class="well">
    <label>Season</label>
    <select />
    <div class="btn-group">
        <a class="btn btn-danger" href="@Url.Action("Migrate", "Migration")">Migrate</a>
    </div>
</form>
