@model WhoScored.Models.MigrationModel
@{
    ViewBag.Title = "Migration";
}
<form class="well form-inline">
<fieldset>
    <div class="control-group">
        <label class="control-label" for="countrySelect">
            Country</label>
        <div class="controls">
            <select id="countrySelect" multiple="multiple" size="10">
                @foreach (var country in Model.WorldDetails.Where(c => c.LeagueInWhoScored).OrderBy(c => c.EnglishName))
                {
                    <option id="@country.LeagueID" onselect="">@country.EnglishName</option>
                }
            </select>
        </div>
        <label class="control-label" for="seasonSelect">
            Season</label>
        <div class="controls">
            <select id="seasonSelect" multiple="multiple" size="10">
                <option>Please select a country</option>
            </select>
        </div>
    </div>
    <div class="form-actions">
        <a class="btn btn-danger" href="@Url.Action("MigrateWorldDetails", "Migration")">Migrate World</a>
        <a class="btn btn-danger" href="@Url.Action("MigrateSeriesDetails", "Migration")">Migrate Series</a>
    </div>
</fieldset>
</form>
