@{
    ViewBag.Title = "Migration";
}
<h2>
    Migration</h2>
<div class="btn-group">
    <a class="btn" href="@Url.Action("Migrate", "Migration")">Migrate</a>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a> </li>
        <li><a href="#">Another action</a> </li>
        <li><a href="#">Something else here</a> </li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a> </li>
    </ul>
</div>
